body{
    background-color: bisque;
}
h1{
    color: white;
    background-color: cadetblue;
}

.box{
    height: auto;
    width: auto;
    border: 1px solid black;
    margin: 5px;
    text-align: left;
    background-color: aquamarine;
}